<%- include("../partials/utilities") %>
<%- include("../partials/adminHeader") %>
<h1>Payee Management</h1>
<div id="mainContainer">
    <div id="paymentBlock">
        <h2 class="scaleHeading up">Take a new payment</h2>
        <form action="/admin/newPayment" method="POST" class="scaleContainer">
            <div>
                <label for="amount">Amount (£)</label><input type="number" name="amount" min=0 required>
            </div>
            <div>
                <label for="payee">Payee</label>
                <select name="payee">
                    <% payees.forEach(payee => {%>
                        <option value="<%= payee.id %>"><%= payee.name %></option>
                    <%})%>
                </select>
            </div>
            <div>
                <label for"date">Date</label><input type="text" id="date" name="date" readonly required>
            </div>
            <div>
                <button type="submit" class="glowingButton">Add Payment</button>
            </div>
        </form>
        <div id="pastPayments">
            <h2 class="scaleHeading down">Latest Payments</h2>
            <div class="scaleContainer">
                <% payments.forEach(payment => {%>
                    <div class="payment">
                        <div><h4><%= payment.payee.name %></h4></div>
                        <div><h5>£<%= payment.amount %></h3></div>
                        <div><h5><%= toDateString(payment.date)%></h3></div>
                    </div>
                <%});%>
            </div>
            <span id="deletePayment">X</span>
        </div>
    </div>
    <div id="resourceBlock">
        <div id="resourceTitle">
            <h2 class="scaleHeading down">List of Payees</h2>
            <div id="payeeControls">
                <a href="/admin/newPayee" class="subABasic">Create New Payee</a>
            </div>
        </div>
        <div id="resourceContent" class="scaleContainer">
            <% payees.forEach(payee => {%>
                <div class="payee">
                    <h4><%= payee.name %></h4>
                    <div>
                        <a href="/admin/payees/<%= payee.id%>" class="mainButtonA">View</a>
                        <% if(!payee.user){%>
                            <a href="/admin/register/<%= payee.id %>" class="mainButtonA">Register</a>
                        <%}else{%>
                            <form action="/admin/panel/unregister/<%= payee.user.id %>?_method=DELETE" method="POST" class="unregisterForm"><button type="submit">Unregister</button></form>>
                        <%}%>
                    </div>
                </div>
            <%});%>
        </div>
    </div>
</div>

<script src="/js/utilities.js"></script>
<script src="/js/admin/deletePayment.js"></script>
<script>
    let backgroundColour = "#30cfd044"
    let redirect = "payees";                                        //CHANGE
    let paymentList = document.getElementsByClassName("payment");   //CHANGE
    let delButton = document.getElementById("deletePayment");       //CHANGE
    let activePayment;
    delButton.addEventListener("click", (e)=>{
        e.stopPropagation();
        //run delete code in here otherwise users may be able to get hold of delete code
        if(activePayment !== null){
            let children = activePayment.ref.children;
            let name = children[0].children[0].textContent;
            let amount = children[1].children[0].textContent.replace("£", "");
            let date = children[2].children[0].textContent;

            let form = document.createElement("form");
            form.action = "/admin/deletePayment?_method=DELETE";
            form.method = "POST";
            let i1 = document.createElement("input");
            i1.value = name;
            i1.name = "name";
            let i2 = document.createElement("input");
            i2.value = amount;
            i2.name = "amount";
            let i3 = document.createElement("input");
            i3.value = date;
            i3.name = "date";
            let i4 = document.createElement("input");
            i4.value = redirect;
            i4.name = "redirect";
            
            form.appendChild(i1);
            form.appendChild(i2);
            form.appendChild(i3);
            form.appendChild(i4);
            form.style.display = "none";
            document.getElementsByTagName("body")[0].appendChild(form);
            form.submit();
        }
    });
    let payments = [];
    for(let payment of paymentList){
        payments.push(new Payment(payment,true));
    }

    document.addEventListener("click", ()=>{
        for(let payment of payments){
            payment.deactivate();
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
    ///Setting up the date picker
    let picker = new Pikaday(
        {
            field:document.getElementById("date"),
        });
    picker.setDate(new Date());
</script>
<script src="/js/admin/mobileScale.js"></script>
<script>
    if(document.body.clientWidth < 767){
        let headings = document.getElementsByClassName("scaleHeading");
        let containers = document.getElementsByClassName("scaleContainer");
        let scalers = [];
        for(let i = 0; i < headings.length; i++){
            scalers.push(new Scaler(headings[i], containers[i], (i===0?true:false)));
        }
    }
</script>