<%- include("../partials/utilities") %>
<%- include("../partials/adminHeader") %>
<h1>Payment Records</h1>
<div id="initDiv">
    <h3 id="titleString">Showing Records For All Time</h3>
    <img src = "../imgs/search.png" id="openSearchPanel">
</div>
<h4 id="resetSearch">Reset</h4>
<div id="recordDateChoice">
    <div id="searchOptions">
        <div>
            <h3>Date From</h3>
            <input type="text" id="dateFromInput" readonly>
        </div>
        <div>
            <h3>For</h3>
            <select id="timeFrameSelect">
                <option value="9999">All Time</option>
                <option value="7">1 Week</option>
                <option value="28">4 Weeks</option>
                <option value="91">13 Weeks</option>
                <option value="365">1 Year</option>
                <option value="730">2 Years</option>
                <option value="1825">5 Years</option>
            </select>
        </div>
    </div>
    <div>
        <h4 id="searchString">Search String</h4>
        <a class="mainButtonA" id="searchForNewDatesButton">Start The Search</a>
    </div>
    <button id="closeSearchButton">X</button>
</div>
<div id="mainContainer">
    <div id="profileContainer">
        <% let total=0; for(let payment of payments)total+=payment.amount%>
        <h2>General Statistics</h2>
        <div>
            <h3>Total Payments</h3>
            <h3><%= payments.length %></h3>
        </div>
        <div>
            <h3>Total Gross Profit</h3>
            <h3>£<%= total %></h3>
        </div>
        <div>
            <h3>Tax Deductions(20%)</h3>
            <h3>£<%= Math.ceil(total*0.2) %></h3>
        </div>
        <div>
            <h3>Savings Deductions(10%)</h3>
            <h3>£<%= Math.ceil(total*0.1) %></h3>
        </div>
        <div>
            <h3>Total Deductions</h3>
            <h3>£<%= Math.ceil(total*0.3) %></h3>
        </div>
        <div>
            <h2>Total Net Profit</h2>
            <h2>£<%= ~~(total*0.7) %></h2>
        </div>
    </div>
    <div id="recordContainer">
        <div id="titleDiv">
            <h2>List Of Payments</h2>
            <img src="../imgs/filter.png" id="filterButton">
            <div id="filterDiv">
                <h4 class="filterOption">Date - Latest to Earliest</h4 class="filterOption">
                <h4 class="filterOption">Date - Earliest to Latest</h4>
                <h4 class="filterOption">Amount - High to Low</h4>
                <h4 class="filterOption">Amount - Low to High</h4>
                <h4 class="filterOption">Payee - First to Last</h4>
                <h4 class="filterOption">Payee - Last to First</h4>
                <h4 class="filterOption">Reset Choices</h4>
            </div>
        </div>
        <div id="payments">
            <%payments.forEach(payment=>{%>
                <div class="payment">
                    <h3><%= payment.payee.name %></h3>
                    <h3><%= toSmallDateString(payment.date) %></h3>
                    <h3>£<%= payment.amount %></h3>
                    <h3 class="hidden"><%= payment.date %></h3>
                </div>
            <%})%>
        </div>
        <span id="deletePayment">X</span>
    </div>
</div>

<script src="../js/utilities.js"></script>
<script src="../js/admin/records.js"></script>
<script src="/js/admin/deletePayment.js"></script>
<script>
    let backgroundColour = "#f0981944"
    let redirect = "records";                                       //CHANGE
    let paymentList = document.getElementsByClassName("payment");   //CHANGE
    let delButton = document.getElementById("deletePayment");       //CHANGE
    let activePayment;
    delButton.addEventListener("click", (e)=>{
        e.stopPropagation();
        //run delete code in here otherwise users may be able to get hold of delete code
        if(activePayment !== null){
            let children = activePayment.ref.children;
            let name = children[0].textContent;
            let amount = children[2].textContent.replace("£", "");
            let date = children[3].textContent;

            let form = document.createElement("form");
            form.action = "/admin/deletePayment?_method=DELETE";
            form.method = "POST";
            let i1 = document.createElement("input");
            i1.value = name;
            i1.name = "name";
            let i2 = document.createElement("input");
            i2.value = amount;
            i2.name = "amount";
            let i3 = document.createElement("input");
            i3.value = date;
            i3.name = "date";
            let i4 = document.createElement("input");
            i4.value = redirect;
            i4.name = "redirect";
            
            form.appendChild(i1);
            form.appendChild(i2);
            form.appendChild(i3);
            form.appendChild(i4);
            form.style.display = "none";
            document.getElementsByTagName("body")[0].appendChild(form);
            console.log(name, amount, date, redirect);
            form.submit();
        }
    });
    let payments = [];
    for(let payment of paymentList){
        payments.push(new Payment(payment));
    }

    document.addEventListener("click", ()=>{
        for(let payment of payments){
            payment.deactivate();
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
    let picker = new Pikaday({field:document.getElementById("dateFromInput"),});
    let query = window.location.href.split("?");
    if(query.length === 1){
        picker.setDate(new Date());
    }else{
        let queries = query[1].split("&");
        let startDate;
        for(let test of queries){
            let pieces = test.split("=");
            if(pieces[0] === "startDate"){
                startDate = pieces[1];
                break;
            }
        }
        if(startDate){
            picker.setDate(new Date(startDate.replace(/%20/g, " ")));
        }else{
            picker.setDate(new Date());
        }
    }
    document.getElementsByClassName("pika-single")[0].addEventListener("click", (e)=>e.stopPropagation());
</script>